.Container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.75);
}

.Content {
  background-color: white;
  position: absolute;
  width: 30%;
  height: 30%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  margin-left: 35%;
  margin-top: 15%;
}

.CloseBtn {
  color: Black;
  float: right;
  margin-top: -5%;
  font-size: xx-large;
}

.CloseBtn:hover {
  color: rgb(223, 74, 178);
  cursor: pointer;
}
