.Container {
    margin: 2% 20% 5% 30%;
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Avatar {
   margin-top: 5%;
   margin-bottom: 0;
  }
  
  .Title {
    font-family: cursive;
    margin-top: 1%;
    font-size: 170%;
  }
  
  .Form {
    width: 100%;
  }
  
  .GoogleBtn,
  .FacebookBtn {
    box-sizing: border-box;
    position: relative;
    padding: 0 15px 0 46px;
    width: 40%;
    border: none;
    text-align: center;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  
  .GoogleBtn:before,
  .FacebookBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  
  .GoogleBtn:focus,
  .FacebookBtn:focus {
    outline: none;
  }
  
  .GoogleBtn:active,
  .FacebookBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }
  
  .GoogleBtn {
    background: #dd4b39;
  }
  
  .GoogleBtn:before {
    border-right: #bb3f30 1px solid;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
      6px 6px no-repeat;
  }
  
  .GoogleBtn:hover,
  .GoogleBtn:focus {
    background: #e74b37;
  }
  
  .FacebookBtn {
    background-color: #4c69ba;
    background-image: linear-gradient(#4c69ba, #3b55a0);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354c8c;
    margin-top:2%;
  }
  
  .FacebookBtn:before {
    border-right: #364e92 1px solid;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
      6px 6px no-repeat;
  }
  
  .FacebookBtn:hover,
  .FacebookBtn:focus {
    background-color: #5b7bd5;
    background-image: linear-gradient(#5b7bd5, #4864b1);
  }
  
  .Loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  