.Container {
    margin: 3% 20% 5% 30%;
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Avatar {
    margin: 5% ;
    margin-bottom: 0;
}

.Title {
    font-family: cursive;
    margin-top: 1%;
    font-size: 170%;
}
