body,
html,
#root,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: cursive;
}

.app {
  text-align: center;
  background-color: rgb(239, 224, 247);
  background-repeat: repeat;
  overflow: auto;
}
